@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.md-heading {
    font-size: 3rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  // min-height: calc(100vh - 60px);
  min-height: calc(80vh - 60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      color: #000;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
#contact {
  background: url(../img/background_contact-light.jpg);
  background-size: cover;
  max-width: 100%;
  height: 30vh;
}
#work {
  background: url(../img/background_work-light.jpg);
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

#about {
  background: url(../img/background_about.jpg);
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  background: rgba(255, 255, 255, 0.7);
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    padding: 0.5rem;
    grid-area: bioimage;
    // margin: auto;
    width: 100%;
    top: 0px;
    // vertical-align: text-top;
    margin-bottom: 1rem;
    // min-height: 100%;
    // border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    // background: lighten($secondary-color, 5);
    padding: 0.5rem;
    border-bottom: #000 5px solid;
  }
}

// Work/Projects
.project {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 2px rgb(125, 125, 125) solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
  a {
    color: set-text-color($primary-color);
  }
}
// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  a {
    color: set-text-color($primary-color);
  }

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    background: rgba(255, 255, 255, 0.3);
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  text-align: center;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  color: #000;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: #fff;
  }
}

// Home Page
.home-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
    img {
      width: 400px;
    }

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  text-align: center;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  color: #000;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: #fff;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #fff;
}

#main-footer {
  font-size: 0.5rem;
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.toggle_details {
  background-color: $secondary-color;
  cursor: pointer;
}

.work-details {
  background: rgba(255, 255, 255, 0.5);
  display: block;
}

@import "mobile";
